Preparation of contact pattern matrix and $$\beta_{home}$$

In [1]:
import pandas as pd
import numpy as np
import pickle
import itertools
import pickle

In [2]:
def get_oposite_dict(dic, keys):
    """The function gets a dict and new keys list and returns a dictionary in which keys as keys,
    and values are the keys from dic """
    res_dict = {}
    
    for new_key in keys:
        new_val_lst = []
        for old_k, old_v in dic.items():
            if all(i in old_v for i in new_key):
                new_val_lst.append(old_k)
        if len(new_key) == 1:
            res_dict[new_key[0]] = new_val_lst
        else:
            res_dict[new_key] = new_val_lst
    return res_dict

In [3]:
# Age groups
A = {0: '0-4', 1: '5-9', 2: '10-19', 3: '20-29', 4: '30-39', 5: '40-49', 6: '50-59', 7: '60-69', 8: '70+'}

# Risk groups
R = {0: 'High', 1: 'Low'}

# Intervention groups
M = {0: 'Intervention', 1: 'Non-intervention'}

# region groups
G = {0: '11', 1: '11_betshemesh', 2: '21', 3: '22', 4: '23', 5: '24', 6: '29', 7: '31', 8: '32', 9: '41', 10: '42', 11: '43', 12: '44', 13: '51',
     14: '51_tlv', 15: '51_bb', 16: '61', 17: '62', 18: '62_arab', 19: '71'}

# All combination:
N = {i: group for i, group in enumerate(itertools.product(M.values(), G.values(), R.values(), A.values()))}

In [ ]:
Index(['11', '11_betshemesh', '21', '22', '23', '24', '29', '31', '32', '41',
       '42', '43', '44', '51', '51_tlv', '51_bb', '61', '62', '62_arab', '71'],
      dtype='object')

# Data Loading

In [6]:
# import data:
with (open("../Data/od/mat_macro_model_df.pickle", "rb")) as openfile:
    OD_dict = pickle.load(openfile)

base_leisure = pd.read_csv('../Data/base_contact_mtx/leisure_mtx.csv',index_col=0)
base_work = pd.read_csv('../Data/base_contact_mtx/work_mtx.csv',index_col=0)
base_school = pd.read_csv('../Data/base_contact_mtx/school_mtx.csv',index_col=0)

age_dist_area = pd.read_csv('../Data/demograph/age_dist_area.csv',index_col=0).iloc[0:20][['0-4', '5-9', '10-19', '20-29', '30-39', '40-49', '50-59', '60-69', '70+']].copy()
stay_home_idx_school =  pd.read_csv('../Data/stay home/no_school.csv',index_col=0)
stay_home_idx_work =  pd.read_csv('../Data/stay home/no_work.csv',index_col=0)
stay_home_idx_routine =  pd.read_csv('../Data/stay home/routine.csv',index_col=0)
religion_dist = pd.read_csv('../Data/demograph/religion_dis.csv',index_col=0)

In [5]:
home_secularism = pd.read_excel('../Data/base_contact_mtx/secularism_base_home.xlsx',index_col=0)
home_haredi = pd.read_excel('../Data/base_contact_mtx/haredi_base_home.xlsx',index_col=0)
home_arabs = pd.read_excel('../Data/base_contact_mtx/arabs_base_home.xlsx',index_col=0)

In [189]:
OD_dict.keys()

dict_keys([('no_school', 0), ('no_school', 1), ('no_school', 2), ('no_work', 0), ('no_work', 1), ('no_work', 2), ('routine', 0), ('routine', 1), ('routine', 2)])

In [76]:
age_dist_area

,0-4,5-9,10-19,20-29,30-39,40-49,50-59,60-69,70+
sub_district_id,,,,,,,,,
11,0.014314,0.012926,0.022451,0.018670,0.013888,0.010801,0.008759,0.007246,0.007152
11_betshemesh,0.002289,0.002030,0.002917,0.001866,0.001518,0.001079,0.000667,0.000415,0.000322
21,0.001522,0.001433,0.002634,0.002343,0.001850,0.001727,0.001468,0.001218,0.000976
22,0.001473,0.001374,0.002505,0.002218,0.001744,0.001616,0.001398,0.001148,0.000928
23,0.005440,0.005367,0.010736,0.009137,0.007062,0.007138,0.005743,0.004241,0.003481
24,0.006360,0.006480,0.013218,0.011288,0.009161,0.009016,0.007122,0.005038,0.004057
29,0.000388,0.000401,0.000769,0.000656,0.000536,0.000541,0.000426,0.000347,0.000269
31,0.005288,0.004881,0.008521,0.008950,0.008919,0.007959,0.006963,0.007408,0.007858
32,0.004869,0.004825,0.008964,0.007329,0.006648,0.006418,0.005093,0.003885,0.003396
41,0.004678,0.004717,0.008300,0.006512,0.006407,0.006761,0.005118,0.004531,0.004388
42,0.007536,0.007283,0.012428,0.009663,0.010224,0.010597,0.007883,0.007493,0.006857
43,0.004368,0.004343,0.007172,0.005084,0.005408,0.005474,0.003682,0.003114,0.002592
44,0.005861,0.005600,0.009727,0.008527,0.008739,0.009002,0.006788,0.006824,0.005918
51_tlv,0.003838,0.002969,0.004495,0.007014,0.010466,0.006552,0.004541,0.004577,0.005310
51,0.007678,0.007237,0.011872,0.011037,0.014106,0.012900,0.009544,0.010046,0.011316
51_bb,0.003819,0.003037,0.004805,0.003758,0.002601,0.001549,0.001249,0.001216,0.001100
61,0.007496,0.006743,0.011579,0.010318,0.009141,0.008070,0.007119,0.006343,0.006031
62,0.004549,0.004089,0.006876,0.006711,0.006091,0.005262,0.004747,0.004143,0.003755
62_arab,0.002629,0.002300,0.003972,0.002599,0.001590,0.001175,0.000594,0.000295,0.000191
71,0.007224,0.006792,0.009365,0.006460,0.005763,0.004171,0.002806,0.002030,0.001273

In [190]:
base_leisure

,0-4,5-9,10-19,20-29,30-39,40-49,50-59,60-69,70+
0-4,1.910947,0.785434,0.605625,0.947981,1.217311,0.539321,0.526174,0.327925,0.136674
5-9,0.855218,3.058522,1.270115,0.586938,0.994774,0.548865,0.307890,0.281533,0.096498
10-19,0.188896,0.833542,5.118978,0.980886,0.664389,0.573172,0.223943,0.129148,0.077123
20-29,0.216756,0.165483,1.147046,2.721855,1.030819,0.491379,0.301705,0.088583,0.054323
30-39,0.263324,0.231474,0.380568,0.938731,1.367406,0.614261,0.391434,0.205911,0.073415
40-49,0.098300,0.127266,0.312787,0.458589,0.688429,0.540939,0.255728,0.131058,0.066109
50-59,0.086537,0.105663,0.236436,0.604374,0.589119,0.457537,0.457947,0.236600,0.077892
60-69,0.072166,0.081541,0.124618,0.379717,0.528686,0.365015,0.373055,0.358650,0.143989
70+,0.035686,0.043422,0.112453,0.160497,0.271909,0.236009,0.190299,0.271175,0.190983

In [18]:
OD_dict['routine', 1].index

Index(['11', '11_betshemesh', '21', '22', '23', '24', '29', '31', '32', '41',
       '42', '43', '44', '51', '51_tlv', '51_bb', '61', '62', '62_arab', '71'],
      dtype='object')

In [107]:
stay_home_idx_work

                   mean       std       min       max
county
11             0.269553  0.060183  0.163246  0.313846
21             0.305619  0.067354  0.172872  0.354417
22             0.379769  0.051840  0.280759  0.419792
23             0.357335  0.046417  0.270225  0.393955
24             0.388517  0.053071  0.293302  0.444552
29             0.283014  0.043141  0.197223  0.317801
31             0.266843  0.074133  0.130012  0.324173
32             0.334017  0.063844  0.217401  0.382464
41             0.305952  0.066156  0.183571  0.356831
42             0.260746  0.077953  0.117915  0.317536
43             0.302241  0.085127  0.143490  0.362408
44             0.269722  0.092418  0.101126  0.337894
51             0.216942  0.079895  0.074019  0.278865
61             0.302647  0.084664  0.141318  0.362118
62             0.319992  0.070924  0.186440  0.368724
71             0.351518  0.044023  0.274108  0.404230
11_betshemesh  0.287544  0.099309  0.095956  0.351541
51_bb          0.111612  0.049138  0.026349  0.149878
51_tlv         0.182915  0.063747  0.070551  0.231811
62_arab        0.458343  0.035851  0.387459  0.488797

In [14]:
MI = {i: group for i, group in enumerate(itertools.product(A.values(), G.values(),  A.values()))}

# Processing stay home index

In [8]:
span = stay_home_idx_routine['max'] - stay_home_idx_work['min']
span

county
11               0.386542
21               0.379869
22               0.323442
23               0.322763
24               0.317497
29               0.408615
31               0.443478
32               0.398331
41               0.433597
42               0.493654
43               0.493283
44               0.526529
51               0.497377
61               0.442709
62               0.384018
71               0.316797
11_betshemesh    0.474715
51_bb            0.343853
51_tlv           0.440693
62_arab          0.236984
dtype: float64

In [11]:
stay_home_idx_work['percent_idx'] = 1 - ((stay_home_idx_routine['max'] - stay_home_idx_work['mean'])/span)
stay_home_idx_school['percent_idx'] = 1 - ((stay_home_idx_routine['max'] - stay_home_idx_school['mean'])/span)

In [10]:
stay_home_idx_work

                   mean       std       min       max  percent_idx
county
11             0.269553  0.060183  0.163246  0.313846     0.275023
21             0.305619  0.067354  0.172872  0.354417     0.349454
22             0.379769  0.051840  0.280759  0.419792     0.306116
23             0.357335  0.046417  0.270225  0.393955     0.269888
24             0.388517  0.053071  0.293302  0.444552     0.299893
29             0.283014  0.043141  0.197223  0.317801     0.209954
31             0.266843  0.074133  0.130012  0.324173     0.308539
32             0.334017  0.063844  0.217401  0.382464     0.292761
41             0.305952  0.066156  0.183571  0.356831     0.282247
42             0.260746  0.077953  0.117915  0.317536     0.289335
43             0.302241  0.085127  0.143490  0.362408     0.321825
44             0.269722  0.092418  0.101126  0.337894     0.320202
51             0.216942  0.079895  0.074019  0.278865     0.287354
61             0.302647  0.084664  0.141318  0.362118     0.364412
62             0.319992  0.070924  0.186440  0.368724     0.347775
71             0.351518  0.044023  0.274108  0.404230     0.244353
11_betshemesh  0.287544  0.099309  0.095956  0.351541     0.403586
51_bb          0.111612  0.049138  0.026349  0.149878     0.247963
51_tlv         0.182915  0.063747  0.070551  0.231811     0.254971
62_arab        0.458343  0.035851  0.387459  0.488797     0.299111

In [12]:
stay_home_idx_school

                    min       max      mean       std  percent_idx
county
11             0.279484  0.413518  0.375147  0.060502     0.548196
21             0.284609  0.438834  0.392464  0.068269     0.578073
22             0.389827  0.502554  0.469736  0.050544     0.584272
23             0.393587  0.477372  0.452540  0.037300     0.564856
24             0.427730  0.505448  0.482527  0.034667     0.595990
29             0.358212  0.447196  0.420178  0.039236     0.545636
31             0.292136  0.436327  0.394418  0.064695     0.596210
32             0.369315  0.484902  0.449557  0.050824     0.582821
41             0.339401  0.467383  0.430178  0.057417     0.568748
42             0.291145  0.452418  0.404890  0.071959     0.581329
43             0.311009  0.484927  0.434664  0.078209     0.590278
44             0.275503  0.470262  0.412154  0.086475     0.590713
51             0.260542  0.414318  0.368473  0.068299     0.592014
61             0.270941  0.463450  0.406726  0.085902     0.599508
62             0.294034  0.455581  0.407181  0.071610     0.574820
71             0.371219  0.485661  0.451512  0.050811     0.559993
11_betshemesh  0.222607  0.477951  0.398687  0.111612     0.637710
51_bb          0.081883  0.239501  0.191069  0.069172     0.479043
51_tlv         0.253972  0.354398  0.325619  0.045314     0.578787
62_arab        0.444483  0.548270  0.510735  0.042926     0.520186

# Leisure Matrix

## routine

In [28]:
full_leisure_routine = pd.DataFrame(index = pd.MultiIndex.from_tuples(list(MI.values()),names=['age','area','age']), columns=OD_dict['routine', 2].index)

In [29]:
# fill the matrix:
for index in list(full_leisure_routine.index):
    full_leisure_routine.loc[index] = (OD_dict['routine', 2].loc[index[1]] * base_leisure.loc[index[0]][index[2]]) / age_dist_area[index[2]]

In [30]:
# save matrix
full_leisure_routine.unstack().reorder_levels(['area','age']).sort_index().to_csv('../Data/base_contact_mtx/full_leisure_mtx_routine.csv')

In [31]:
full_leisure_routine.unstack().reorder_levels(['area','age']).sort_index()

                     11                                                      \
age                 0-4        10-19        20-29        30-39        40-49
area age
11   0-4        133.362      26.9481       50.724      87.5642      49.8811
     10-19      13.1828      227.776      52.4847      47.7911      53.0119
     20-29       15.127      51.0393      145.639      74.1493       45.447
     30-39       18.377      16.9338       50.229      98.3609      56.8122
     40-49      6.86018      13.9178      24.5379      49.5204      50.0307
...                 ...          ...          ...          ...          ...
71   40-49  0.000220751  0.000447858  0.000789597    0.0015935   0.00160992
     5-9     0.00192056   0.00181859   0.00101059   0.00230259   0.00163351
     50-59  0.000194337  0.000338537   0.00104061   0.00136363    0.0013617
     60-69  0.000162063  0.000178432  0.000653795   0.00122375   0.00108634
     70+    8.01393e-05  0.000161014  0.000276343  0.000629386  0.000702402

                                                               11_betshemesh  \
age                 5-9        50-59        60-69          70+           0-4
area age
11   0-4        60.7021      60.0079      45.2104      19.0894      0.278481
     10-19      64.4201      25.5397      17.8054      10.7719     0.0275277
     20-29      12.7893      34.4082      12.2127       7.5874     0.0315876
     30-39      17.8894      44.6414      28.3885      10.2539      0.038374
     40-49      9.83574      29.1648      18.0687      9.23343     0.0143251
...                 ...          ...          ...          ...           ...
71   40-49  0.000316501  0.000938484  0.000581427   0.00029712    0.00521392
     5-9      0.0076063   0.00112991     0.001249  0.000433702     0.0453616
     50-59  0.000262776    0.0016806   0.00104965  0.000350079    0.00459003
     60-69  0.000202787   0.00136906   0.00159112  0.000647149    0.00382775
     70+    0.000107986  0.000698369   0.00120305   0.00085836    0.00189281

            ...    62_arab           71                                      \
age         ...        70+          0-4       10-19       20-29       30-39
area age    ...
11   0-4    ...  0.0366239    0.0085534  0.00209112  0.00474485  0.00683009
     10-19  ...  0.0206664    0.0008455    0.017675  0.00490955  0.00372775
     20-29  ...  0.0145568  0.000970198  0.00396056   0.0136235  0.00578372
     30-39  ...  0.0196727   0.00117864  0.00131404  0.00469855  0.00767224
     40-49  ...  0.0177148  0.000439989     0.00108  0.00229534  0.00386264
...         ...        ...          ...         ...         ...         ...
71   40-49  ...  0.0239973      13.5963     33.3736     70.9292     119.361
     5-9    ...  0.0350286      118.289     135.518     90.7809     172.476
     50-59  ...  0.0282747      11.9694     25.2272     93.4777     102.143
     60-69  ...   0.052268      9.98162     13.2964     58.7302     91.6646
     70+    ...  0.0693267      4.93587     11.9985     24.8238     47.1441


age              40-49          5-9       50-59       60-69         70+
area age
11   0-4     0.0041808   0.00373905  0.00606328  0.00522324  0.00347285
     10-19  0.00444322   0.00396807  0.00258057  0.00205709  0.00195968
     20-29  0.00380916  0.000787783  0.00347664  0.00141096  0.00138034
     30-39  0.00476174   0.00110193  0.00451062  0.00327977  0.00186546
     40-49  0.00419334   0.00060585  0.00294685  0.00208751   0.0016798
...                ...          ...         ...         ...         ...
71   40-49      129.58      18.7216     91.0618     64.5071     51.9083
     5-9       131.479      449.927     109.636     138.571       75.77
     50-59     109.602      15.5437     163.069     116.455     61.1606
     60-69     87.4384      11.9952     132.841     176.528      113.06
     70+       56.5354      6.38757     67.7633     133.473      149.96

[180 rows x 180 columns]

## No school

In [15]:
full_leisure_no_school = pd.DataFrame(index = pd.MultiIndex.from_tuples(list(MI.values()),names=['age','area','age']), 
                                     columns=OD_dict['no_school', 2].index)

In [16]:
# fill the matrix:
for index in list(full_leisure_no_school.index):
    full_leisure_no_school.loc[index] = (OD_dict['no_school', 2].loc[index[1]] * stay_home_idx_school.loc[index[1]]['percent_idx'] * base_leisure.loc[index[0]][index[2]]) / age_dist_area[index[2]]

In [17]:
full_leisure_no_school.unstack().reorder_levels(['area','age']).sort_index()

                     11                                                      \
age                 0-4        10-19        20-29        30-39        40-49
area age
11   0-4        73.1171      14.7746        27.81       48.008      27.3478
     10-19      7.22759       124.88      28.7753       26.202      29.0644
     20-29      8.29354      27.9828      79.8484      40.6532      24.9168
     30-39      10.0754      9.28416      27.5386      53.9274      31.1479
     40-49      3.76116       7.6306      13.4532      27.1501      27.4298
...                 ...          ...          ...          ...          ...
71   40-49  0.000119934  0.000243321  0.000428988  0.000865748   0.00087467
     5-9     0.00104344   0.00098804  0.000549053     0.001251  0.000887486
     50-59  0.000105583  0.000183927  0.000565363  0.000740859  0.000739813
     60-69  8.80486e-05   9.6942e-05  0.000355207  0.000664861  0.000590211
     70+    4.35397e-05   8.7479e-05  0.000150137  0.000341945  0.000381615

                                                               11_betshemesh  \
age                 5-9        50-59        60-69          70+           0-4
area age
11   0-4        33.2805         32.9      24.7871       10.466      0.140518
     10-19       35.319      14.0024        9.762      5.90579     0.0138901
     20-29      7.01189      18.8646      6.69574      4.15987     0.0159387
     30-39      9.80805      24.4751      15.5643      5.62184     0.0193631
     40-49      5.39255      15.9899      9.90635      5.06232    0.00722829
...                 ...          ...          ...          ...           ...
71   40-49  0.000171955  0.000509878  0.000315889  0.000161425    0.00254254
     5-9      0.0041325   0.00061388  0.000678579   0.00023563     0.0221204
     50-59  0.000142766  0.000913067  0.000570277  0.000190198    0.00223831
     60-69  0.000110174  0.000743808  0.000864454  0.000351596    0.00186659
     70+    5.86687e-05  0.000379424  0.000653614  0.000466347    0.00092302

            ...     62_arab           71                                       \
age         ...         70+          0-4        10-19       20-29       30-39
area age    ...
11   0-4    ...   0.0189038    0.0046346   0.00113306  0.00257096  0.00370083
     10-19  ...   0.0106672  0.000458128   0.00957706   0.0026602  0.00201986
     20-29  ...  0.00751363  0.000525694     0.002146  0.00738178  0.00313386
     30-39  ...   0.0101543  0.000638637  0.000712001  0.00254587  0.00415715
     40-49  ...  0.00914366  0.000238405   0.00058519  0.00124371  0.00209294
...         ...         ...          ...          ...         ...         ...
71   40-49  ...   0.0136083      7.61426        18.69      39.722     66.8451
     5-9    ...   0.0198638      66.2449      75.8935     50.8395     96.5905
     50-59  ...   0.0160339      6.70315      14.1278     52.3497     57.2023
     60-69  ...   0.0296398      5.58994      7.44632     32.8903     51.3344
     70+    ...   0.0393134       2.7642      6.71945     13.9019     26.4018


age              40-49          5-9       50-59        60-69          70+
area age
11   0-4    0.00226534   0.00202598  0.00328534   0.00283017   0.00188174
     10-19  0.00240752   0.00215007  0.00139826   0.00111462   0.00106184
     20-29  0.00206396  0.000426854  0.00188379  0.000764516  0.000747929
     30-39  0.00258011  0.000597072  0.00244405   0.00177712   0.00101079
     40-49  0.00227213  0.000328275  0.00159673    0.0011311  0.000910188
...                ...          ...         ...          ...          ...
71   40-49     72.5681      10.4846     50.9968      36.1255      29.0699
     5-9       73.6314       251.97     61.3988      77.6032       42.433
     50-59     61.3796      8.70486     91.3228      65.2177      34.2514
     60-69     48.9676      6.71762     74.3939      98.8601      63.3165
     70+       31.6612      3.57719     37.9491      74.7482      83.9811

[180 rows x 180 columns]

In [18]:
# save matrix
full_leisure_no_school.unstack().reorder_levels(['area','age']).sort_index().to_csv('../Data/base_contact_mtx/full_leisure_mtx_no_school.csv')

## No work

In [19]:
full_leisure_no_work = pd.DataFrame(index = pd.MultiIndex.from_tuples(list(MI.values()),names=['age','area','age']), 
                                     columns=OD_dict['no_work', 2].index)

In [20]:
# fill the matrix:
for index in list(full_leisure_no_work.index):
    full_leisure_no_work.loc[index] = (OD_dict['no_work', 2].loc[index[1]] * stay_home_idx_work.loc[index[1]]['percent_idx'] * base_leisure.loc[index[0]][index[2]]) / age_dist_area[index[2]]

In [21]:
# save matrix
full_leisure_no_work.unstack().reorder_levels(['area','age']).sort_index().to_csv('../Data/base_contact_mtx/full_leisure_mtx_no_work.csv')

# Work Matrix

In [22]:
# creating school- work matrix;
base_work_school = base_work.copy()
base_work_school.loc['0-4'] = base_school.loc['0-4']
base_work_school.loc['5-9'] = base_school.loc['5-9']
base_work_school['0-4'] = base_school['0-4']
base_work_school['5-9'] = base_school['5-9']

In [23]:
base_work_school

,0-4,5-9,10-19,20-29,30-39,40-49,50-59,60-69,70+
0-4,2.901178,0.353363,0.117947,0.027197,0.070175,0.030752,0.016916,0.002066,0.000000
5-9,0.442161,2.801755,0.163184,0.019576,0.036961,0.030238,0.015680,0.003323,0.000347
10-19,0.010633,0.311794,0.364628,0.425551,0.307760,0.299323,0.114176,0.006199,0.000004
20-29,0.007126,0.011894,0.395992,1.726451,1.530541,1.131590,0.606490,0.044159,0.000015
30-39,0.019030,0.054146,0.315675,1.294422,2.078599,1.751081,0.800303,0.041232,0.000011
40-49,0.034396,0.036878,0.293957,1.110030,1.765236,1.937622,0.943991,0.044619,0.000020
50-59,0.038944,0.099026,0.269529,0.761644,1.279458,1.585571,1.019917,0.049350,0.000018
60-69,0.019908,0.024630,0.022494,0.094078,0.146233,0.167043,0.121437,0.006846,0.000030
70+,0.000000,0.014121,0.000009,0.000075,0.000113,0.000048,0.000029,0.000021,0.000014

In [24]:
OD_kids = OD_dict['routine', 1].copy()

for col in OD_kids.columns:
    OD_kids[col].values[:] = 0
OD_kids.values[[np.arange(OD_kids.shape[0])]*2] = 1

C:\Users\matan\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  """

In [25]:
OD_kids.head()

,11,11_betshemesh,21,22,23,24,29,31,32,41,42,43,44,51,51_tlv,51_bb,61,62,62_arab,71
11,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11_betshemesh,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Routine

In [119]:
full_work_routine = pd.DataFrame(index = pd.MultiIndex.from_tuples(list(MI.values()),names=['age','area','age']), columns=OD_dict['routine', 1].index)

In [133]:
# fill the matrix:
for index in list(full_work_routine.index):
    if index[0] in['0-4', '5-9']:
        full_work_routine.loc[index] = (OD_kids.loc[index[1]] * base_work_school.loc[index[0]][index[2]]) / age_dist_area[index[2]]
    else:
        full_work_routine.loc[index] = (OD_dict['routine', 1].loc[index[1]] * base_work_school.loc[index[0]][index[2]]) / age_dist_area[index[2]]

In [135]:
# save matrix
full_work_routine.unstack().reorder_levels(['area','age']).sort_index().to_csv('../Data/base_contact_mtx/full_work_mtx_routine.csv')

In [134]:
full_work_routine.unstack().reorder_levels(['area','age']).sort_index()

                     11                                                      \
age                 0-4        10-19        20-29        30-39        40-49
area age
11   0-4        202.675      5.25355      1.45675        5.053      2.84708
     10-19     0.741882      16.2202      22.7641       22.132      27.6765
     20-29     0.497158      17.6155      92.3532      110.066      104.631
     30-39      1.32773      14.0426      69.2427      149.479      161.912
     40-49      2.39983      13.0765       59.379      126.944       179.16
...                 ...          ...          ...          ...          ...
71   40-49  8.72839e-05  0.000475605   0.00215967   0.00461707   0.00651622
     5-9              0            0            0            0            0
     50-59  9.88242e-05  0.000436081   0.00148185   0.00334649   0.00533227
     60-69   5.0518e-05  3.63941e-05  0.000183037   0.00038248  0.000561766
     70+              0  1.53381e-08  1.46309e-07  2.95225e-07  1.60079e-07

                                                               11_betshemesh  \
age                 5-9        50-59        60-69          70+           0-4
area age
11   0-4        27.3375      1.93121     0.285101            0             0
     10-19      24.0905      13.0178     0.854441  0.000551552     0.0017805
     20-29     0.918948      69.1492      6.08652   0.00210847    0.00119317
     30-39      4.18355      91.2468      5.68305   0.00157786    0.00318653
     40-49      2.84935      107.629      6.14995   0.00283456    0.00575952
...                 ...          ...          ...          ...           ...
71   40-49  0.000103634   0.00391458  0.000223679  1.03096e-07    0.00163225
     5-9              0            0            0            0             0
     50-59  0.000278278   0.00422944  0.000247396  8.98912e-08    0.00184806
     60-69  6.92156e-05  0.000503581  3.43215e-05  1.50327e-07   0.000944708
     70+    3.96813e-05  1.20673e-07  1.05775e-07  7.21161e-08             0

            ...      62_arab           71                                      \
age         ...          70+          0-4       10-19       20-29       30-39
area age    ...
11   0-4    ...            0            0           0           0           0
     10-19  ...  1.65572e-06  5.96923e-05  0.00157901  0.00267138  0.00216569
     20-29  ...  6.32945e-06  4.00017e-05  0.00171484   0.0108377   0.0107704
     30-39  ...  4.73661e-06   0.00010683  0.00136702  0.00812567    0.014627
     40-49  ...  8.50912e-06  0.000193092  0.00127298  0.00696816   0.0124219
...         ...          ...          ...         ...         ...         ...
71   40-49  ...  8.77114e-06      4.75686     31.3601     171.662     306.016
     5-9    ...            0      61.2063     17.4252     3.03026     6.41341
     50-59  ...  7.64774e-06      5.38578      28.754     117.786     221.803
     60-69  ...  1.27894e-05      2.75316     2.39973     14.5488     25.3505
     70+    ...  6.13547e-06            0  0.00101135   0.0116294   0.0195673


age              40-49          5-9       50-59        60-69          70+
area age
11   0-4             0            0           0            0            0
     10-19  0.00291013   0.00186157  0.00165011   0.00012384   1.2588e-07
     20-29   0.0110018   7.1011e-05  0.00876522  0.000882159  4.81214e-07
     30-39   0.0170247  0.000323281   0.0115663  0.000823683  3.60113e-07
     40-49   0.0188383  0.000220181   0.0136429  0.000891353  6.46929e-07
...                ...          ...         ...          ...          ...
71   40-49     464.086      5.42422     336.096      21.9587    0.0159373
     5-9       7.24923      412.484     5.58804      1.63696     0.272639
     50-59     379.765      14.5652     363.128      24.2869     0.013896
     60-69     40.0091      3.62277     43.2361      3.36935    0.0232386
     70+     0.0114008      2.07693   0.0103607     0.010384    0.0111482

[180 rows x 180 columns]

## No School

In [26]:
full_work_no_school = pd.DataFrame(index = pd.MultiIndex.from_tuples(list(MI.values()),names=['age','area','age']), columns=OD_dict['no_school', 1].index)

In [32]:
# fill the matrix:
for index in list(full_work_no_school.index):
    if index[0] in['0-4', '5-9']:
        full_work_no_school.loc[index] = (OD_kids.loc[index[1]] * base_work.loc[index[0]][index[2]]) / age_dist_area[index[2]]
    else:
        full_work_no_school.loc[index] = (OD_dict['no_school', 1].loc[index[1]] * stay_home_idx_school.loc[index[1]]['percent_idx'] * base_work.loc[index[0]][index[2]]) / age_dist_area[index[2]]

In [33]:
# save matrix
full_work_no_school.unstack().reorder_levels(['area','age']).sort_index().to_csv('../Data/base_contact_mtx/full_work_mtx_no_school.csv')

## No Work

In [37]:
full_work_no_school_work = pd.DataFrame(index = pd.MultiIndex.from_tuples(list(MI.values()),names=['age','area','age']), columns=OD_dict['no_work', 1].index)

In [38]:
for index in list(full_work_no_school_work.index):
    if index[0] in['0-4', '5-9']:
        full_work_no_school_work.loc[index] = (OD_kids.loc[index[1]] * base_work.loc[index[0]][index[2]]) / age_dist_area[index[2]]
    else:
        full_work_no_school_work.loc[index] = (OD_dict['no_work', 1].loc[index[1]] * stay_home_idx_work.loc[index[1]]['percent_idx'] * base_work.loc[index[0]][index[2]]) / age_dist_area[index[2]]

In [39]:
full_work_no_school_work.unstack().reorder_levels(['area','age']).sort_index().to_csv('../Data/base_contact_mtx/full_work_mtx_no_work.csv')

# Home Matrix

In [205]:
religion_dist

                 secularism  arabs    haredi  jewish
sub_district_id
11                 0.396800  0.380  0.223200   0.620
11_betshemesh      0.500000  0.000  0.500000   1.000
21                 0.759900  0.106  0.134100   0.894
22                 0.647680  0.296  0.056320   0.704
23                 0.458000  0.542  0.000000   0.458
24                 0.359000  0.641  0.000000   0.359
29                 0.452000  0.548  0.000000   0.452
31                 0.834367  0.114  0.051633   0.886
32                 0.516169  0.460  0.023831   0.540
41                 0.747617  0.214  0.038383   0.786
42                 0.835819  0.052  0.112181   0.948
43                 0.884000  0.116  0.000000   0.884
44                 0.977063  0.005  0.017937   0.995
51_tlv             0.936000  0.044  0.020000   0.956
51                 1.000000  0.000  0.000000   1.000
51_bb              0.180000  0.000  0.820000   1.000
61                 0.908941  0.005  0.086059   0.995
62                 0.946992  0.000  0.053008   1.000
62_arab            0.000000  1.000  0.000000   0.000
71                 0.758068  0.000  0.241932   1.000

In [206]:
full_home_mtx = pd.DataFrame(index = pd.MultiIndex.from_tuples(list(MI.values()),names=['age','area','age']), columns=OD_dict['no_work', 1].index)

In [207]:
# fill the matrix:
# ask dan if there is a need to normalize the mtx
for index in list(full_work_routine.index):
    religion_area = religion_dist.loc[index[1]].copy()
    cell_val = religion_area['haredi'] * home_haredi.loc[index[0]][index[2]] + \
                religion_area['secularism'] * home_secularism.loc[index[0]][index[2]] + \
                religion_area['arabs'] * home_arabs.loc[index[0]][index[2]]
    full_home_mtx.loc[index] = (OD_kids.loc[index[1]] * cell_val) / age_dist_area[index[2]]

In [208]:
full_home_mtx.unstack().reorder_levels(['area','age']).sort_index()

                 11                                                        \
age             0-4    10-19    20-29    30-39    40-49      5-9    50-59
area age
11   0-4    25.4286  23.4104  26.5679  28.8785  25.0179   24.531  1.02924
     10-19  25.4286  23.4104  26.5679  28.8785  25.0179   24.531  1.02924
     20-29  38.1156  35.4462  24.0259  28.0559  28.3612  37.0493  16.0661
     30-39  38.0816  35.4109  37.5156  21.5478  20.7332  37.0133  8.87459
     40-49  30.5555  29.3496  34.8574  19.2506  20.7332  30.4335  10.7842
...             ...      ...      ...      ...      ...      ...      ...
71   40-49        0        0        0        0        0        0        0
     5-9          0        0        0        0        0        0        0
     50-59        0        0        0        0        0        0        0
     60-69        0        0        0        0        0        0        0
     70+          0        0        0        0        0        0        0

                             11_betshemesh  ... 62_arab       71            \
age           60-69      70+           0-4  ...     70+      0-4     10-19
area age                                    ...
11   0-4    1.07268  1.02958             0  ...       0        0         0
     10-19  1.07268  1.02958             0  ...       0        0         0
     20-29  17.4609  17.3283             0  ...       0        0         0
     30-39  9.62309  9.53334             0  ...       0        0         0
     40-49  13.7848  12.7157             0  ...       0        0         0
...             ...      ...           ...  ...     ...      ...       ...
71   40-49        0        0             0  ...       0   53.071   60.5078
     5-9          0        0             0  ...       0  45.8411    49.821
     50-59        0        0             0  ...       0  0.76274  0.868042
     60-69        0        0             0  ...       0  0.76274  0.868042
     70+          0        0             0  ...       0  0.76274  0.868042


age           20-29    30-39    40-49      5-9    50-59    60-69      70+
area age
11   0-4          0        0        0        0        0        0        0
     10-19        0        0        0        0        0        0        0
     20-29        0        0        0        0        0        0        0
     30-39        0        0        0        0        0        0        0
     40-49        0        0        0        0        0        0        0
...             ...      ...      ...      ...      ...      ...      ...
71   40-49  62.6077   44.672  51.1257  50.0383  35.8383  52.5198  76.1959
     5-9    72.8029  64.3546  56.2677  41.6996  2.79533  3.29368  4.93128
     50-59  34.6756  18.7591  28.2307  0.71817  54.0994   62.033  90.7115
     60-69  34.6756  18.7591  28.2307  0.71817  54.0994   62.033  90.7115
     70+    34.6756  18.7591  28.2307  0.71817  54.0994   62.033  90.7115

[180 rows x 180 columns]

In [209]:
full_home_mtx.unstack().reorder_levels(['area','age']).sort_index().to_csv('../Data/base_contact_mtx/full_home_mtx.csv')

# $$\beta_{home}$$

In [203]:
# Calculating beta home
beta_home = 0.8 * full_home_mtx.unstack().reorder_levels(['area','age']).sort_index().sum(axis=1)/9

In [204]:
# Save beta_home
with open('../Data/demograph/beta_home.pickle', 'wb') as handle:
    pickle.dump(beta_home.values, handle, protocol=pickle.HIGHEST_PROTOCOL)